#root,
body,
.app {
  margin: 0;
}

.editable-text-display {
  width: 60%;
  text-align: end;
  border: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.editable-text-display:focus {
  outline: none;
}

.card-image {
  margin: 0 10px;
  height: 60px;
  width: 80px;
  object-fit: cover;
  object-position: center center;
}

.container-title {
  width: 70vw;
  max-width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-text {
  width: 30vw;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-text-category {
  width: 15vw;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-content {
  padding: 0 10px;
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.floating-items-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.two-items-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.flex-row-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 8px;
  gap: 8px;
  border-bottom: 1px solid #ddd;
}

.data-display-key-div {
  text-align: left;
  /* border-right: 1px solid #ddd; */
}
